Question 1
Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

It is considered 'a=0' at first which is 'a' variable then 'b' is defined as variable which updates the 'a' using 'c' function.
And the 'c' variable takes the function of 'a' and return as 'a+2'.When the 'b' is called, the value of 'a' is 2.
When 'b' is called three times the value of 'a' is increasing by '2'. So the final value of 'a' is '6'

The value displayed at the last expression is '6'

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found

In [39]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        return f"File {filename} not found"


print(fileLength("C:\\Users\\kngok\\Downloads\\Filelength.txt"))  
print(fileLength("idterm.py"))

123
File idterm.py not found

QUSTION 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the y-
axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [2]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())


k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [5]:
def collatz(x):
   
    if x == 1:
        print(1)
        return
    
    
    print(x)
    
    
    if x % 2 == 0:
        
        collatz(x // 2)
    else:
       
        collatz(3 * x + 1)


print("Collatz sequence starting at 1:")
collatz(1)

print("\nCollatz sequence starting at 10:")
collatz(10)

Collatz sequence starting at 1:
1

Collatz sequence starting at 10:
10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [6]:
def binary(n):
    if n == 0:
        print(0, end='')
    elif n == 1:
        print(1, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')


print("Binary representation of 0:")
binary(0)  
print()    

print("Binary representation of 1:")
binary(1)  
print()    

print("Binary representation of 3:")
binary(3)  
print()    

print("Binary representation of 9:")
binary(9)  
print()

Binary representation of 0:
0
Binary representation of 1:
1
Binary representation of 3:
11
Binary representation of 9:
1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [40]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False  # Flag to track if parser is inside a heading
        self.current_heading_level = 0  # Current heading level (h1, h2, etc.)
        self.headings = []  # List to store tuples of (indentation level, heading text)

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2:
            self.in_heading = True
            self.current_heading_level = int(tag[1])

    def handle_data(self, data):
        if self.in_heading:
            self.headings.append((self.current_heading_level - 1, data.strip()))

    def handle_endtag(self, tag):
        if tag.startswith('h') and len(tag) == 2:
            self.in_heading = False

    def print_headings(self):
        for level, text in self.headings:
            print(' ' * level + text)

    def feed(self, data):
        super().feed(data)
        self.print_headings()

# Example usage:
try:
    # Replace the file path with your actual file path
    infile = open('C:\\Users\\kngok\\Downloads\\w3c [MConverter.eu] (2).html', encoding='utf-8')
    content = infile.read()
    infile.close()

    hp = HeadingParser()
    hp.feed(content)
except FileNotFoundError:
    print("File not found. Please check the file path.")
except Exception as e:
    print(f"An error occurred: {e}")

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [27]:
def webdir(url, depth, indent):
    if depth < 0:
        return
    
    print(' ' * indent + url)
    
    
    links = {
        'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html': [
            'http://reed.cs.depaul.edu/lperkovic/csc242/test2.html',
            'http://reed.cs.depaul.edu/lperkovic/csc242/test3.html'
        ],
        'http://reed.cs.depaul.edu/lperkovic/csc242/test2.html': [
            'http://reed.cs.depaul.edu/lperkovic/csc242/test4.html'
        ],
        'http://reed.cs.depaul.edu/lperkovic/csc242/test3.html': [
            'http://reed.cs.depaul.edu/lperkovic/csc242/test4.html'
        ],
        'http://reed.cs.depaul.edu/lperkovic/csc242/test4.html': []
    }
    
    if url in links:
        for link in links[url]:
            webdir(link, depth - 1, indent + 2)


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
  http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
  http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

QUESTION 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [22]:
import sqlite3


db_file = 'weather.db'


data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'UK', 'Winter', 4.2, 207.7),
    ('London', 'UK', 'Spring', 8.3, 169.6),
    ('London', 'UK', 'Summer', 15.7, 157.0),
    ('London', 'UK', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]


queries = [
    "SELECT Temperature_C FROM weather_data;",
    "SELECT DISTINCT City FROM weather_data;",
    "SELECT * FROM weather_data WHERE Country = 'India';",
    "SELECT * FROM weather_data WHERE Season = 'Fall';",
    "SELECT City, Country, Season FROM weather_data WHERE Rainfall_mm BETWEEN 200 AND 400;",
    "SELECT City, Country FROM weather_data WHERE Season = 'Fall' AND Temperature_C > 20 ORDER BY Temperature_C ASC;",
    "SELECT SUM(Rainfall_mm) AS Total_Annual_Rainfall FROM weather_data WHERE City = 'Cairo';",
    "SELECT Season, SUM(Rainfall_mm) AS Total_Rainfall FROM weather_data GROUP BY Season;"
]

def setup_database():

    conn = sqlite3.connect(db_file)
    cur = conn.cursor()
    
    
    cur.execute('''CREATE TABLE IF NOT EXISTS weather_data (
                   City TEXT,
                   Country TEXT,
                   Season TEXT,
                   Temperature_C REAL,
                   Rainfall_mm REAL
                   )''')

    
    cur.executemany('INSERT INTO weather_data VALUES (?, ?, ?, ?, ?)', data)
    
    
    conn.commit()
    conn.close()

def execute_queries():
    
    conn = sqlite3.connect(db_file)
    cur = conn.cursor()
    
    
    for query in queries:
        print(f"Query: {query}")
        cur.execute(query)
        results = cur.fetchall()
        for row in results:
            print(row)
        print()  
    
    conn.close()


if __name__ == '__main__':
    
    setup_database()
    
  
    execute_queries()

Query: SELECT Temperature_C FROM weather_data;
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

Query: SELECT DISTINCT City FROM weather_data;
('Mumbai',)
('London',)
('Cairo',)

Query: SELECT * FROM weather_data WHERE Country = 'India';
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

Query: SELECT * FROM weather_data WHERE Season = 'Fall';
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'UK', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

Query: SELECT City, Country, Season FROM weather_data WHERE Rainfall_mm BETWEEN 200 AND 400;
('Mumbai', 'India', 'Fall')
('London', 'UK', 'Winter')
('London', 'UK', 'Fall')

Query: SELECT City, Country FROM weather_data WHERE Season = 'Fall' AND Temperature_C > 20 ORDER BY Temperature_C ASC;
('Cairo', 'Egypt')
('Mumbai', 'India')

Query: SELECT SUM(Rainfall_mm) AS Total_Annual_Rainfall FROM weather_data WHERE City = 'Cairo';
(27.6,)

Query: SELECT Season, SUM(Rainfall_mm) AS Total_Rainfall FROM weather_data GROUP BY Season;
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [23]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


result_a = [word.upper() for word in words]


result_b = [word.lower() for word in words]


result_c = [len(word) for word in words]


result_d = [[word.upper(), word.lower(), len(word)] for word in words]


result_e = [word for word in words if len(word) >= 4]


print("Part a:", result_a)
print("Part b:", result_b)
print("Part c:", result_c)
print("Part d:", result_d)
print("Part e:", result_e)

Part a: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
Part b: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Part c: [3, 5, 5, 3, 5, 4, 3, 4, 3]
Part d: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
Part e: ['quick', 'brown', 'jumps', 'over', 'lazy']